.app {
  width: 100%;
  height: 100vh;
}

.container {
  display: grid;
  left: 50%;
  padding: 20px;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  width: 1000px;
}

.title {
  font-size: 32px;
}